<html>
<head>
    <title>$action.getActionName($action.class.name)</title>
</head>
<body>
#requireResource("confluence.web.resources:aui-forms")
#requireResource("confluence.sections.admin.generalconfig:resources")

#parse ( "/template/includes/actionmessages.vm" )
#parse ( "/template/includes/actionerrors.vm" )

<form class="aui" action="#">
    <h1>$action.getText("org.randombits.confluence.conveyor.actions.report.title")</h1>

    <p>$action.getText("org.randombits.confluence.conveyor.actions.report.desc")</p>

    #if ( $packages && $packages.size() > 0 )

    #foreach( $packageConfig in $packages )
    <h2>$generalUtil.htmlEncode($packageConfig.namespace)</h2>
    <p>
        <b>$action.getText("org.randombits.confluence.conveyor.actions.report.packageName"):</b>
        $generalUtil.htmlEncode($packageConfig.name)
        <br/>
    </p>
    <h3>$action.getText("org.randombits.confluence.conveyor.actions.report.overriddenActions")</h3>
        #foreach( $actionName in $action.getActionNames( $packageConfig ) )
            #set ( $actionConfig = $action.getActionConfig( $packageConfig, $actionName ) )

            <h4>$generalUtil.htmlEncode($packageConfig.namespace)/${generalUtil.htmlEncode(${actionName})}.action</h4>

            <table class="grid" border="0" style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 20%">$action.getText("org.randombits.confluence.conveyor.actions.report.plugin")</th>
                    <th style="width: 4em">$action.getText("org.randombits.confluence.conveyor.actions.report.weight")</th>
                    <th>$action.getText("org.randombits.confluence.conveyor.actions.report.overrideKey")</th>
                </tr>
                </thead>
                <tbody>
                #foreach( $overridingAction in $actionConfig.overridingActions )
                    <tr>
                        <td>${generalUtil.htmlEncode(${overridingAction.plugin.name})}</td>
                        <td>${overridingAction.weight}</td>
                        <td>${generalUtil.htmlEncode(${overridingAction.key})}</td>
                    </tr>
                #end
                </tbody>
            </table>
        #end
    #end

    #else

    <p>$action.getText( "org.randombits.confluence.conveyor.actions.report.noResults" )</p>

    #end
</form>

</body>
</html>