<html>
<head>
    <title>$action.getActionName($action.class.name)</title>
</head>
<body>
#requireResource("confluence.web.resources:aui-forms")
#requireResource("confluence.sections.admin.generalconfig:resources")

#parse ( "/template/includes/actionmessages.vm" )
#parse ( "/template/includes/actionerrors.vm" )

<form class="aui" action="#">
    <h2>$action.getText("org.randombits.confluence.conveyor.actions.report.title")</h2>

    <p>$action.getText("org.randombits.confluence.conveyor.actions.report.desc")</p>


    #foreach( $provider in $providers )
    <h3>$!generalUtil.htmlEncode(${provider.plugin.name}): &quot;$!generalUtil.htmlEncode(${provider.resourceName})&quot;</h3>

    #foreach( $packageDetail in $provider.packages )
    <p>
        <b>$action.getText("org.randombits.confluence.conveyor.actions.report.packageNamespace"):</b>
        $generalUtil.htmlEncode($packageDetail.packageConfig.namespace)
        <br/>
        <b>$action.getText("org.randombits.confluence.conveyor.actions.report.packageName"):</b>
        $generalUtil.htmlEncode($packageDetail.packageConfig.name)
        <br/>
        <b>$action.getText("org.randombits.confluence.conveyor.actions.report.packageOverride"):</b>
        $action.getText("org.randombits.confluence.conveyor.actions.report.boolean.${packageDetail.override}" )
    </p>
    <table class="grid" border="0">
        <thead>
        <tr>
            <th>$action.getText("org.randombits.confluence.conveyor.actions.report.actionName")</th>
            <th>$action.getText("org.randombits.confluence.conveyor.actions.report.override")</th>
        </tr>
        </thead>
        <tbody>
        #foreach( $actionDetail in $packageDetail.actions )
        <tr>
            <td>${generalUtil.htmlEncode(${packageDetail.packageConfig.namespace})}/${generalUtil.htmlEncode(${actionDetail.actionName})}.action</td>
            <td>$action.getText("org.randombits.confluence.conveyor.actions.report.boolean.${actionDetail.override}" )</td>
        </tr>
        #end

        </tbody>
    </table>
    #end
    #end
</form>

</body>
</html>